[submodule "lib/submodules/xssfilter"]
	path = lib/submodules/xssfilter
	url = git://github.com/JBlond/PHP-XSS-Filter.git
[submodule "lib/submodules/phpmailer"]
	path = lib/submodules/phpmailer
	url = git://github.com/PHPMailer/PHPMailer.git
[submodule "lib/submodules/guzzle"]
	path = lib/submodules/guzzle
	url = git://github.com/guzzle/guzzle.git
